::ng-deep {
    ol {
        display: flex!important;
        flex-direction: column!important;
        gap: 10px!important;

        li {
            list-style:decimal;
            margin-left: 20px;
            font-size: 18px;
            font-weight: 300;
            @apply text-gray-200 lining-nums;
            strong { @apply text-white font-semibold }
            @media (max-width: 520px) {
                font-size: 15px;
            }
        }
    }
}