@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        overflow-x: hidden;

        /* --- SCROLLBAR SUPREME --- */
        ::-webkit-scrollbar { width: 8px; }
        ::-webkit-scrollbar-track { background: #050813; }
        ::-webkit-scrollbar-thumb { background: rgba(184, 146, 106, 0.5); border-radius: 10px; }
        ::-webkit-scrollbar-thumb:hover { background: #B8926A !important; }
    }

    body {
        /* Fundo global escuro e texto claro */
        background-color: #0A1128;
        color: #F4F4F9;
    }

    /* Animações nativas (sem @apply para não dar erro no VS Code) */
    button, li, a, span {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        cursor: pointer;
    }
    button:disabled { cursor: not-allowed; }
}

/* =========================================
   BLINDAGEM DAS FONTES (Infalível)
   ========================================= */
.font-google, .font-google * {
    font-family: "Google Sans Flex", sans-serif !important;
}

.font-inter, .font-inter * {
    font-family: "Inter", sans-serif !important;
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace !important;
}

/* --- SWIPER CONFIGS --- */
swiper-container {
    --swiper-pagination-color: #ffffff;
    --swiper-pagination-bullet-inactive-color: #ffffff;
    --swiper-pagination-bullet-inactive-opacity: .35;
    --swiper-pagination-bullet-size: 6px;
    --swiper-pagination-bullet-horizontal-gap: 6px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
swiper-container::part(pagination) { margin-top: 8px; }
swiper-container::-webkit-scrollbar { display: none; }